In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_html('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050')[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
# Drop the observations where the Borough is 'Not assigned'

df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [4]:
# Group observations by postcode and concatenate the Neighbourhoods accordingly

df['Neighbourhood'] = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].transform(lambda x: ', '.join(x))

df = df.drop_duplicates()

df

,Postcode,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Harbourfront
5,M6A,North York,"Lawrence Heights, Lawrence Manor"
7,M7A,Downtown Toronto,Queen's Park
...,...,...,...
254,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
261,M4Y,Downtown Toronto,Church and Wellesley
264,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
265,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
281,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."

In [5]:
# Reseting the index

df = df.reset_index()

del df['index']

df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A  Downtown Toronto                      Queen's Park

In [6]:
# For the cells where the Neighbourhood is 'Not assigned', replace by the correspondent Borough

df['Neighbourhood'].replace('Not assigned', df['Borough'])

df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A  Downtown Toronto                      Queen's Park

In [7]:
# Get the shape of the dataframe

df.shape

(103, 3)

### Getting the latitude and longitude values

In [8]:
# Create a new dataframe with the geolocation of each postal code

df_coordinates = pd.read_csv(r'C:\Users\nunos\Downloads\Geospatial_Coordinates.csv')

df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
# Now we merge the two dataframes
df_can = pd.merge(df,
                 df_coordinates,
                 how = 'inner',
                 left_on = df['Postcode'],
                 right_on = df_coordinates['Postal Code']
                 )

In [10]:
df_can.head()

,key_0,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M3A,M3A,North York,Parkwoods,M3A,43.753259,-79.329656
1,M4A,M4A,North York,Victoria Village,M4A,43.725882,-79.315572
2,M5A,M5A,Downtown Toronto,Harbourfront,M5A,43.654260,-79.360636
3,M6A,M6A,North York,"Lawrence Heights, Lawrence Manor",M6A,43.718518,-79.464763
4,M7A,M7A,Downtown Toronto,Queen's Park,M7A,43.662301,-79.389494

In [11]:
del df_can['key_0']
del df_can['Postal Code']

df_can.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494